.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.grey-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow: scroll;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.side-bar {
  transform: translateX(450px);
}
.side-bar-open {
  transform: translateX(0px);
  width: 700px;
}

.tr-textarea{
  overflow: hidden;
  width: 100%;
  min-height: 6rem;
}
