.App {
  text-align: center;
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

.leftsidebar-btn {
  position: absolute;
  z-index: 1000000;
  left: 2%;
  top: 45%;
  width: 40px;
  height: 40px;
  background-color: #f2f4f7;
  border-radius: 50%;
  transition: 0.5s;
}
.leftsidebar-btn::after {
  position: relative;
  content: "❯";
  width: 2rem;
  height: 2rem;
  text-align: center;
  transition: all 0.35s;
}
